body {
  background-color: white;
  color: black;
}

/* Style for current page / navigation link */
.active {
  background-color: #800aed;
}

.notactive:hover {
  background-color: #ad68ed;
}

.notactive::after {
  background-color: #fac524;
}

tr:hover {
  background-color: lightblue;
}

ul {
  background-color: #FAF9F6;
}

li a {
  color: white;
  background-color: #777;
}