/**
 * Handles main styling and layout - Padding, margins, alignment etc.
 * Leaves colours to dark.css and light.css 
 */

table, th, td {
  border: 1px solid;
}

table {
  width: 100%;
}

img {
  width: 100%
}

.header {
  padding: 20px;
  text-align: center;
}

/* Make small side columns */
.sideColumn {
  float: left;
  width: 10%;
  padding: 10px;
  margin: 1%;
  text-align: center;
}

/* Make central column */
.column {
  float: left;
  width: 70%;
  padding: 10px;
  margin: 1%;
  text-align: center;
}

/* Clear floats after the columns */
.row::after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive Layout */
@media screen and (max-width:800px) {
  .column {
    width: 100%;
  }
}