/**
 * Handles main styling and layout - Padding, margins, alignment etc.
 * Leaves colours to dark.css and light.css 
 */

body {
  font-family: "Helvetica";
  margin: 0px;
  font-size: 100%;
}

table, th, td {
  border: 1px solid;
}

/**
 * 
 */
table {
  width: 100%;
  counter-reset: rowNumber;
}

tbody tr {
  counter-increment: rowNumber;
}

tbody tr::before {
  display: table-cell;
  content: counter(rowNumber);
  min-width: 1em;
  margin-right: 0.5em;
}

.header {
  padding: 20px;
  text-align: center;
  background-color: #800aed;
  color: white;
}

/* Style for current page / navigation link */
.active {
  text-decoration: underline;
  text-underline-offset: 5px;
}

/* style for available navigation links that aren't the current page */
.notactive {
  display: inline-block;
  position: relative;
}

.notactive::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  transform-origin: center;
  transition: transform 0.3s ease-out;
}

.notactive:hover::after {
  transform: scaleX(1);
  transform-origin: center;
}

/* Make small side columns */
.sideColumn {
  float: left;
  width: 10%;
  padding: 10px;
  margin: 1%;
  text-align: center;
}

/* Make central column */
.column {
  float: left;
  width: 70%;
  text-align: center;
}

#mainContent {
  padding: 10px;
  margin: 1%;
}

/* Clear floats after the columns */
.row::after {
  content: "";
  display: table;
  clear: both;
}

ul {
  display: flex;
  justify-content: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  border-top: 2px solid #fac524;
}

li {
  float: left;
  border-left: 1px solid #bbb;
}

li:last-child {
  border-right: 1px solid #bbb;
}

li a {
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Responsive Layout */
@media screen and (max-width:800px) {
  .column {
    width: 100%;
  }
}